.event {
  color: black;
}

table {
  width: 80%;
  margin-top: 30px;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.events-table-container {
width: 100%;
margin: 100px auto;
max-height: 400px;
overflow: hidden;
text-align: center;
}

.events-table-body {
overflow-y: scroll;
width: 100%;
height: 100%;
max-height: 350px;
top: 450px;
right: 400px;
}

.events-table {
margin: auto;
text-align: left;
}

.events-table th,
.events-table td {
width: calc(100% / 6);
}

.get-events-page .button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 auto;
  display: block;
  max-width: 200px;
}
