.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252A;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav__links li .nav-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav__links li .nav-link:hover {
    color: #0088a9;
}

.logo {
    cursor: pointer;
    height: 80px;
    width: auto;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__links li {
    margin-right: 20px;
}

.nav__links li:last-child {
    margin-right: 0;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links li a:hover {
    color: #0088a9;
}

.nav__links {
    flex-grow: 1;
    justify-content: center;
}

li, a, nav-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.notification-bell {
    color: #edf0f1;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.notification-bell:hover {
    color: #0088a9;
}

.notification-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
}

