.splash-wrapper {
    display: flex;
  }
  
  .left-column {
    flex: 1;
    padding: 20px;
  }
  
  .right-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  
  .splash-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .splash-button-container {
    margin-top: 20px;
    position: absolute;
    top: 450px;
    right: 400px;
  }
  
  .splash-login-button, .splash-signup-button {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #24252A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100%;
  }
  
  .logo-splash {
    width: 80%;
    position: absolute;
    top: 120px;
    right: 50px;
  }
  
  .logo-container {
    display: flex;
    justify-content: bottom;
    align-items: center;
  }

  .splash-text {
    font-size: 38px;
    font-family: "Courier New", Courier, monospace;
    width: 25%;
    position: absolute;
    top: 120px;
    left: 60px;
  }

  .splash-text::after {
    content: "|";
    animation: blink-caret 1s infinite;
    margin-left: -15px; 
  }
  
  @keyframes blink-caret {
    50% {
        opacity: 0;
    }
  }
  