.get-events-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .button-container {
    margin-top: 30px;
  }
  
  .button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 12px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0456b3;
    border-color: #0056b3;
  }
  
  /* Table styles */
  table {
    width: 80%;
    margin-top: 30px;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  thead {
    background-color: #007bff;
    color: #fff;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    cursor: pointer;
  }
  
  th:hover {
    background-color: #0456b3;
  }
  